*{ margin: 0; padding: 0;}
ul,li{list-style: none;}
a{ text-decoration: none;}
img{ max-width: 100%; border: 0; padding: 0; margin: 0;}
body{ overflow-x: hidden; background: #8ca7ac;}

#wrap{
    width: 100vw; height:auto;
    overflow: hidden;
}
#header{
    width: 100vw; height: 70vh;
    position: relative;
}
#ball{
    width: 70%; height: 100%;
    background: url(../img/ball.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 10vh; 
}

#section{
    width: 100vw; height: 200vh;
}

#sectionWrap{
    width: 100%; height: 100%;
    position: relative;
}
#articleTop{
    width: 100vw; height: 140vh;
    position: relative;
}
#articleTop > #store{
    width: 100vw; height: 100%;
    background: url(../img/store.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 100%;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
}


#articleTop::before{
    content: ''; display: block;
    width: 2000px; height: 2000px;
    position: absolute; left: 0%; 
    background: url(../img/airplane.png) no-repeat;
    animation: round 10s infinite linear;
    top: 0;
}


@-webkit-keyframes round {
	100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes round {
	100%{-moz-transform:rotate(-360deg);}
}
@-ms-keyframes round {
	100%{-ms-transform:rotate(-360deg);}
}
@keyframes round {
	100%{transform:rotate(-360deg);}
}

#articleBottom{
    width: 100vw; height: 60vh;
    background-color: #608890;
    position: relative;
    font-size: 0;
}
#articleBottom > div{
    position: absolute;
}
#car{
    width: 20vw; height:20vh;
    background:url(../img/car.png) no-repeat;
    background-size: contain;
    background-position: center;
    left: -10%;
    top: -10vh;
    z-index: 5;
    animation: car 10s infinite linear;
}

@-webkit-keyframes car {
	100%{-webkit-transform:translateX(1000%);}
}
@-moz-keyframes car {
	100%{-moz-transform:translateX(1000%);}
}
@-ms-keyframes car {
	100%{-ms-transform:translateX(1000%);}
}
@keyframes car {
	100%{transform:translateX(1000%);}
}




#burger{
    width: 50vw; height: 100%;
    position: absolute;
    left: 20%; bottom: 20vh;
}
#burgerBox{
    width: 100%; height: 100%;
    position: relative;
}
#burgerBox > li {
    position: absolute;
    width: 100%; height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#burTop{
    background: url(../img/burger_breadTop.png);
    top: 0; z-index: 9;
}
#burCu{
    background: url(../img/burger_cucumber.png);
    top: 5vh; z-index: 8;
}
#burTom{
    background: url(../img/burger_tomato.png);
    top: 10vh; z-index: 7;
}
#burpaty{
    background: url(../img/burger_patty.png);
    top: 15vh; z-index: 6;
}
#burOni{
    background: url(../img/burger_onion.png);
    top: 20vh; z-index: 5;
}
#burChe{
    background: url(../img/burger_cheese.png);
    top: 25vh; z-index: 4;
}
#burGre{
    background: url(../img/burger_green.png);
    top: 30vh; z-index: 3;
}
#burBo{
    background: url(../img/burger_breadBottom.png);
    top: 35vh; z-index: 2;
}



#aline{
    width: 100%; height: 100%;
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}
#alineBox{
    width: 100%; height: 100%;
    position: relative;
}
#alineBox > li{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-origin: center;
    background-repeat: no-repeat;
}
#alineOne{
    background: url(../img/aline5.png);
    width: 30vw; height: 30vh;
    left: 10%; top: 0;
    
}
#alineTwo{
    background: url(../img/aline3.png);
    width: 30vw; height: 30vh;
    left: 50%; top: 25vh;
}
#alineThr{
    background: url(../img/aline1.png);
    width: 10vw; height: 10vh;
    right: 30%; top: -5vh;
}
#alineTir{
    background: url(../img/aline2.png);
    width: 20vw; height: 20vh;
    right: 20%; top: 5vh;
}

#box{
    width: 100%; height: 100%;
    position: absolute;
    z-index: 500;
    bottom: 0;
    left: 50%; transform: translateX(-50%);
}
#setCont{
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
}
#setCont > li{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-origin: center;
    background-repeat: no-repeat;
}
#setBoxbu{
    width: 30vw; height: 30vh;
    background: url(../img/pack_burger.png);
    left: 50%; transform: translateX(-70%);
    z-index: 1;
    bottom: -5vh;
    
}
#setBoxju{
    width: 30vw; height: 50vh;
    background: url(../img/pack_juice.png);
    left: 50%; transform: translateX(-40%);
    z-index: 0;
    bottom: 1vh;
    
}

@media screen and (max-width:800px){
    #setBoxju {
        width: 35vw; transform: translateX(-30%);
    }
    #setBoxbu{
        width: 50vw; left: 45%;
    }
    #alineTwo{
        left: 60%;
    }
    #alineThr{
        right: 20%;
    }
    #alineOne{
        left: 5%;
    }
    #section{
        height: 100vh;
    }
    #articleTop{
        height: 30vh;
    }
    #articleBottom {
        height: 70vh;
    }
}