*{
    margin: 0 auto;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
img{
    border: 0;
    padding: 0;
    margin:0;
}
body{
    width: 100%;
    overflow-x: hidden;
    background: #313230;
}
#header{
    width: 100%;
    height: 600px;
    overflow-y: hidden;
}
#headerLogo{
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 2;
    left: 0;
    top: 0;
}
#headerLogoBox{
    width: 100%;
    position: relative;
}
#head-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
#head-triangle{
    width: 0;
    height: 0;
    border-left: 1500px solid transparent;
    border-right: 1500px solid transparent;
    border-bottom: 100vh solid #444842;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#head-toy{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 400px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#head-toyFly{
    position: relative;
    width: 100%;
    height: 100%;
}
.toyFly{
    position: absolute;
    width: 300px;
    z-index: 0;
}
.toyFly > img{
    width: 100%;
}
#head-toyCar{
    left: 0;
    top: 300px;
    animation: carmove 15s infinite;
    transform: rotate(-10deg);
}
#head-toyShip{
    right: 0;
    top: 400px;
    animation: shiprmove 3s infinite;
}
@keyframes carmove{
    0%{
        left: -10%;
        top: 600px;
        transform: rotate(-10deg);
    }
    20%{
        left: 20%;
        top: -50px;
        transform: rotate(0deg);
    }
    50%{
        left: 50%;
        top: 200px;
        transform: rotate(35deg);
    }
    70%{
        left: 70%;
        top: 0px;
        transform: rotate(10deg);
    }
    100%{
        left: 100%;
        top: 500px;
        transform: rotate(45deg);
    }
}
@keyframes shiprmove{
    0%{
        right: 0;
        top: 200px;
        transform: rotate(-10deg);
    }
    100%{
        right: 200%;
        top: 0px;
    }
}